<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>
    <h1>Main Screen</h1>
    <h2>Search</h2>
    <form action="/search" method="post">
        <p>사는 지역 : <input type="text" name="area"></p>
        <input type="submit" value="검색">
    </form>

    <h4>합계보기</h4>
    <form action="/all" method="post">
        <input type="submit" value="보기">
    </form>

    <h2>개요보기</h2>
    <form action="/index" method="post">
        <input type="submit" value="보기">
    </form>

</body>
</html>
