<!DOCTYPE html>
<html>
  <head>
    <title>코로나 백신</title>
    <meta charset="utf-8">
  </head>
  <body>
    <h2>코로나 백신 정보<h2>
    <h3><h3>
    <a href="https://namu.wiki/w/BNT162" target="_blank">미국-화이자</a>
    <h5>미국 제약회사 화이자와 독일 제약회사 바이오엔테크(BioNTech)[1]에서 공동 개발 중인 코로나바이러스감염증-19 백신이다. 최초로 일반인 대상으로 광범위하게 접종된 mRNA 방식의 백신으로 이며, 총 4종류(a1·b1·b2·c2)로 구성되어 있다.

    보관 시 효력 유효기간은 영하 70도에서 30일, 해동 후 2~8도에서 5일이다.</h5>
    <h3><h3>
    <a href="https://namu.wiki/w/mRNA-1273" target="_blank">미국-모더나</a>
    <h5>미국 모더나사(社)와 미국 국립 알레르기·전염병연구소가 함께 개발한 코로나바이러스감염증-19 백신이다. 전 세계에서 개발되는 코로나19 백신 물질 중 가장 먼저 임상에 돌입했다.

    총 2차례의 백신을 받아야 한다. 1차 접종을 받은지 28일 후에 2차 접종을 받아야 하며 2차 접종을 받아야 지만 면역력이 생긴다고 한다.</h5>
    <h3><h3>
    <a href="https://namu.wiki/w/BBIBP-CorV" target="_blank">중국-시노팜</a>
    <h5>중국 제약사 시노팜이 개발 중인 코로나바이러스감염증-19 백신이다.</h5>  
    <h3><h3>
    <a href="https://namu.wiki/w/스푸트니크%20V" target="_blank">러시아-가말레야</a>
    <h5>러시아에서 개발한 코로나바이러스감염증-19 백신으로, 정식명칭은 Gam-COVID-Vac(Гам-КОВИД-Вак)이다. 2020년 8월 11일 러시아 보건부에 의해 등록되었으며, 이로써 러시아는 세계 최초로 코로나 19 백신을 정식으로 승인한 나라가 되었다.</h5>
    <h3><h3>
    <a href="https://namu.wiki/w/AZD1222" target="_blank">영국-아스트라제니카</a>
    <h5>다국적 제약회사 아스트라제네카와 영국 옥스포드 대학이 공동으로 개발한 코로나바이러스감염증-19 백신이다. 개발 당시 명칭은 ChAdOx1 nCoV-19로, 이후 아스트라제네카 측에서 공식적으로 AZD1222라는 명칭을 사용하기로 결정하였다.</h5>
  </body>
</html>
