<!DOCTYPE html>
                <html>
                    <head>
                        <title>코로나 확진자 정보</title>
                        <meta charset="utf-8">
                    </head>
                    <body>
       <h2>
2021년 01.06. 00시 기준
 - 합계</h2>
       <h5>총 확진자 - 65,818</h5>
       <h5>전일대비증감 - 840</h5>
       <h5>격리중 - 17,796</h5>
       <h5>격리해제 - 46,995</h5>
       <h5>사망자 - 1,027</h5>
       <h5>발생률 - 126.95</h5>
                    </body>
                </html>
                